In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re
pd.options.display.max_columns = None # to see all the columns

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [3]:
url_0 = "/content/gdrive/MyDrive/Mini-projets Jedha/conso.csv"
df0 = pd.read_csv(url_0, encoding = 'ISO-8859-1', low_memory=False).drop('Unnamed: 0', axis = 'columns')
df0.head(2)

,organization_name,organization_name_url,industries,headquarters_location,description,cb_rank_(company),estimated_revenue_range,founded_date,founded_date_precision,twitter,facebook,linkedin,contact_email,phone_number,industry_groups,founders,number_of_employees,cb_rank_(organization),semrush_-_monthly_visits,semrush_-_global_traffic_rank,semrush_-_bounce_rate,builtwith_-_active_tech_count,g2_stack_-_total_products_active,ipqwery_-_patents_granted,ipqwery_-_trademarks_registered,headquarters_regions,website,investor_type,investment_stage,number_of_founders,number_of_funding_rounds,funding_status,last_funding_date,last_funding_amount,last_funding_amount_currency,last_funding_amount_currency_(in_usd),last_funding_type,last_equity_funding_amount,last_equity_funding_amount_currency,last_equity_funding_amount_currency_(in_usd),last_equity_funding_type,total_equity_funding_amount,total_equity_funding_amount_currency,total_equity_funding_amount_currency_(in_usd),total_funding_amount,total_funding_amount_currency,total_funding_amount_currency_(in_usd),number_of_lead_investors,number_of_investors,semrush_-_monthly_visits_growth,apptopia_-_number_of_apps,apptopia_-_downloads_last_30_days
0,Tannler Personalmanagement,https://www.crunchbase.com/organization/tannle...,"Human Resources, Recruiting","Urdorf, Zurich, Switzerland",Tannler Personalmanagement is a human resource...,"1,067,045",NaN,1998-01-01,day,NaN,https://www.facebook.com/T%C3%A4nnler-Personal...,https://www.linkedin.com/company/t%C3%A4nnler-...,taennler@taennler.ch,41 447771888,"Administrative Services, Professional Services",NaN,1-10,"1,128,432",NaN,NaN,NaN,19.0,NaN,NaN,NaN,NaN,http://www.taennler.ch,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Trip Commander,https://www.crunchbase.com/organization/trip-c...,"Adventure Travel, Leisure, Mobile Apps, Touris...",NaN,Trip Commander is an application that helps us...,"1,067,046",NaN,2015-03-26,day,https://twitter.com/TripCommander,https://www.facebook.com/TripCommander/,https://www.linkedin.com/company/trip-commander/,NaN,NaN,"Apps, Community and Lifestyle, Mobile, Softwar...",NaN,1-10,"1,128,433",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tripcommander.us,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
url_1 = "https://raw.githubusercontent.com/huynam1012/Projet_jedha/main/companies_data_world.csv"
df1 = pd.read_csv(url_1, encoding='ISO-8859-1')
df1 = df1[df1["status"] == "ipo"]
df1.head(2)

,permalink,name,homepage_url,category_list,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,first_funding_at,last_funding_at
139,/organization/21vianet,21viaNet,http://www.ch.21vianet.com,Software|Web Hosting,396000000,ipo,CHN,22,Beijing,Beijing,5,2009-10-16,2008-02-13,2014-12-04
140,/organization/22nd-century-group,22nd Century Group,http://www.xxiicentury.com,Biotechnology,15034750,ipo,USA,NY,NY - Other,Clarence,6,1998-01-01,2010-12-28,2014-09-18

In [5]:
df2 = df1.merge(df0, left_on='name', right_on='organization_name')
df2.head(2)

,permalink,name,homepage_url,category_list,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,first_funding_at,last_funding_at,organization_name,organization_name_url,industries,headquarters_location,description,cb_rank_(company),estimated_revenue_range,founded_date,founded_date_precision,twitter,facebook,linkedin,contact_email,phone_number,industry_groups,founders,number_of_employees,cb_rank_(organization),semrush_-_monthly_visits,semrush_-_global_traffic_rank,semrush_-_bounce_rate,builtwith_-_active_tech_count,g2_stack_-_total_products_active,ipqwery_-_patents_granted,ipqwery_-_trademarks_registered,headquarters_regions,website,investor_type,investment_stage,number_of_founders,number_of_funding_rounds,funding_status,last_funding_date,last_funding_amount,last_funding_amount_currency,last_funding_amount_currency_(in_usd),last_funding_type,last_equity_funding_amount,last_equity_funding_amount_currency,last_equity_funding_amount_currency_(in_usd),last_equity_funding_type,total_equity_funding_amount,total_equity_funding_amount_currency,total_equity_funding_amount_currency_(in_usd),total_funding_amount,total_funding_amount_currency,total_funding_amount_currency_(in_usd),number_of_lead_investors,number_of_investors,semrush_-_monthly_visits_growth,apptopia_-_number_of_apps,apptopia_-_downloads_last_30_days
0,/organization/21vianet,21viaNet,http://www.ch.21vianet.com,Software|Web Hosting,396000000,ipo,CHN,22,Beijing,Beijing,5,2009-10-16,2008-02-13,2014-12-04,21viaNet,https://www.crunchbase.com/organization/21vianet,"Cloud Data Services, Data Center, Enterprise S...","Beijing, Beijing, China",21Vianet is an internet data center services p...,"12,526",$100M to $500M,1996-01-01,year,https://twitter.com/21vnet,https://www.facebook.com/21Vianet-GroupInc-142...,https://www.linkedin.com/company/21vianet-grou...,marketing@21vianet.com,+86 10 8456 2121,"Hardware, Information Technology, Internet Ser...",Sheng Chen,1001-5000,"12,966","100,213","289,918",47.62%,9.0,NaN,NaN,NaN,Asia-Pacific (APAC),http://www.ch.21vianet.com,NaN,NaN,1.0,11.0,IPO,2020-09-03,NaN,NaN,NaN,Post-IPO Equity,NaN,NaN,NaN,Post-IPO Equity,956417400.0,USD,956417400.0,1.056417e+09,USD,1.056417e+09,6.0,14.0,120.02%,NaN,NaN
1,/organization/22nd-century-group,22nd Century Group,http://www.xxiicentury.com,Biotechnology,15034750,ipo,USA,NY,NY - Other,Clarence,6,1998-01-01,2010-12-28,2014-09-18,22nd Century Group,https://www.crunchbase.com/organization/22nd-c...,"Biotechnology, Health Care, Health Diagnostics","Clarence, New York, United States",22nd Century Group is a plant biotechnology co...,"28,603",$1M to $10M,1998-01-01,year,NaN,NaN,NaN,xxii@irthcommunications.com,716-270-1523,"Biotechnology, Health Care, Science and Engine...",NaN,11-50,"29,479","15,753","983,698",82.29%,29.0,16.0,NaN,NaN,"East Coast, Northeastern US",http://www.xxiicentury.com,NaN,NaN,NaN,6.0,IPO,2014-09-18,10000000.0,USD,10000000.0,Post-IPO Equity,10000000.0,USD,10000000.0,Post-IPO Equity,12528500.0,USD,12528500.0,1.503475e+07,USD,1.503475e+07,NaN,1.0,43.34%,NaN,NaN

In [6]:
df2=  df2[["name", "twitter"]]
df2= df2[df2["twitter"].notnull()]
df2 = df2.drop_duplicates()
df2.head(5)

                  name                              twitter
0             21viaNet           https://twitter.com/21vnet
2              2U Inc.             http://twitter.com/2uinc
3           3D Systems        https://twitter.com/3dsystems
4               58.com  https://www.twitter.com/58tongcheng
5  5BARz International         http://twitter.com/5BarzIntl

In [7]:
df2['twitter_clean'] = df2['twitter'].str.replace('https://twitter.com/', '')
df2['twitter_clean'] = df2['twitter_clean'].str.replace('https://www.twitter.com/', '')
df2['twitter_clean'] = df2['twitter_clean'].str.replace('http://twitter.com/', '')
df2['twitter_clean'] = df2['twitter_clean'].str.replace('http://www.twitter.com/', '')
df2['twitter_clean'] = df2['twitter_clean'].str.replace('/', '')
companies = df2.copy()
companies['twitter_clean'] = companies['twitter_clean'].drop_duplicates()

In [8]:
companies.head(5)

                  name                              twitter twitter_clean
0             21viaNet           https://twitter.com/21vnet        21vnet
2              2U Inc.             http://twitter.com/2uinc         2uinc
3           3D Systems        https://twitter.com/3dsystems     3dsystems
4               58.com  https://www.twitter.com/58tongcheng   58tongcheng
5  5BARz International         http://twitter.com/5BarzIntl     5BarzIntl

In [9]:
companies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 989 entries, 0 to 1386
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           989 non-null    object
 1   twitter        989 non-null    object
 2   twitter_clean  984 non-null    object
dtypes: object(3)
memory usage: 30.9+ KB

In [10]:
pip install tweepy -q

In [11]:
import tweepy

In [21]:
consumer_key = 'mettre votre clé'
consumer_secret = 'mettre votre clé'
access_token = 'mettre votre clé'
access_toket_secret = 'mettre votre clé'

In [22]:
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_toket_secret)
api = tweepy.API(auth)

In [23]:
#new data frame to stock tweets
print('Creating df_tweets')
new_columns = ['Twitter_Account', 'Tweeted']
datatweets = pd.DataFrame(columns = new_columns)
print('df_tweets created')

Creating df_tweets
df_tweets created

In [24]:
#new data frame to stock finance companies errors
print('Creating df_errors')
new_column = ['Twitter_Account']
errors = pd.DataFrame(columns = new_column)
print('df_errors created')

Creating df_errors
df_errors created

In [25]:
number_of_tweet = 5

# Scraping

print('Scrap twitter')
for i in companies['twitter_clean']:
    try:
        for j in tweepy.Cursor(api.user_timeline, screen_name=i, tweet_mode='extended').items(number_of_tweet):
            datatweets= datatweets.append({'Twitter_Account':i,'Tweeted':j.full_text}, ignore_index=True)

    except:
        errors = errors.append({'Twitter_Account':i},ignore_index=True)
        
        continue
        
print('Scraping ended !')

Scrap twitter
Scraping ended !

In [26]:
datatweets.describe()

       Twitter_Account                                            Tweeted
count             3421                                               3436
unique             698                                               3420
top     focus_ventures  @realCAMERALERO @MaddySkye 😆 one star. Would n...
freq                 5                                                  3

In [27]:
datatweets = datatweets.drop_duplicates(subset='Tweeted')

In [28]:
datatweets.drop_duplicates(subset='Tweeted')

     Twitter_Account                                            Tweeted
0             21vnet  "IBM Partnered with 21Vianet to Expand Bluemix...
1             21vnet  "Service Provision to Multi-National Companys(...
2             21vnet         OEaaS https://t.co/rOGPrxjSlx via @YouTube
3             21vnet                            https://t.co/buV9KuU4PP
4             21vnet  21Vianet is the largest carrier-neutral intern...
...              ...                                                ...
3431       TheStreet  Chip shortage? What Chip shortage? $TSLA deliv...
3432       TheStreet  How @VancityReynolds is rocking the advertisin...
3433       TheStreet  A Chinese Communist Party official ripped into...
3434       TheStreet  Would you walk away from money?\nhttps://t.co/...
3435       TheStreet  “There is the risk of more downside performanc...

[3420 rows x 2 columns]

In [29]:
datatweets.to_csv("datatweets.csv", index = False)
errors.to_csv("errors.csv", index= False)